<section class="darker">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2>Subscribe Now</h2>
      </div>
      <div class="col-md-9">
        <h3>Receive updates in your inbox from Investor Relations</h3>
        <p>Choose the topics you are interesed in:</p>
      </div>
    </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <a href="#" class="logo"><img src="/assets/images/logo.svg"></a>
      </div>
      <div class="col-md-3">
        <ul class="social-nav">
          <li><a href="#"><img src="/assets/images/icon-social-twitter.svg"></a></li>
          <li><a href="#"><img src="/assets/images/icon-social-facebook.svg"></a></li>
          <li><a href="#"><img src="/assets/images/icon-social-instagram.svg"></a></li>
          <li><a href="#"><img src="/assets/images/icon-social-linkedin.svg"></a></li>
          <li><a href="#"><img src="/assets/images/icon-social-youtube.svg"></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img src="/assets/images/icon-squares-gray.svg" height="10">
      </div>
      <div class="col-md-6">
        <ul class="large-nav">
          <li><a href="#">Financial Releases</a></li>
          <li><a href="#">Events &amp; Presentations</a></li>
          <li><a href="#">Stock Info</a></li>
          <li><a href="#">Financial Info</a></li>
          <li><a href="#">Governance</a></li>
          <li><a href="#">Resources</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="standard-nav">
          <li><a href="/financial/quarterly-results.html">Quarterly Results</a></li>
          <li><a href="#">Committee Composition</a></li>
          <li><a href="#">Analyst Coverage</a></li>
          <li><a href="/resources/environmental-statement.html">Environmental Statement</a></li>
          <li><a href="#">Investor FAQs</a></li>
          <li><a href="#">Contact IR</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p class="copyright">Copyright © 2021</p>
      </div>
      <div class="col-md-9">
        <ul class="small-nav">
          <li><a href="#">Privacy Notice</a></li>
          <li><a href="#">Cookie Notice</a></li>
          <li><a href="#">Impressum</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
