<div class="sticky">
  <div class="alert-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Learn about the latest cybersecurity news and trends on the CrowdStrike blog.</p>
        </div>
        <div class="col-md-6">
          <a href="#">Explore Blog</a>
        </div>
      </div>
    </div>
  </div>

  <header class="site-header">
    <div class="container">
      <div class="logo"></div>

      <nav>
        <ul>
          <li><a href="/releases.html" title="Financial Releases">Releases</a></li>
          <li><a href="/events-presentations.html" title="Events & Presentations">Events &amp; Presentations</a></li>
          <li><a href="/stock.html" title="Stock Quote & Chart">Stock</a></li>
          <li><a href="#">Financial</a></li>
          <li><a href="#">Governance</a></li>
          <li><a href="#">Resources</a></li>
        </ul>

        <div class="header-search"></div>

        <a href="https://crowdstrike.com" target="_blank" class="btn black">CrowdStrike.com</a>
      </nav>
    </div>
  </header>
</div>
