.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.2s ease-in-out;
  z-index: 10000;
  + * {
    padding-top: 200px;
  } 
  &.fixed {
    background-color: rgba(white, 0.85);
    backdrop-filter: blur(16px);
    .main-nav__top > li:not(:hover) > a {
      color: $brand_black;
    }

    .site-header .logo:not(:hover) path {
      color: $brand_black;
    }
  }
}

.alert-bar {
  background: #000;
  padding: 20px 0;
  width: 100%;
  position: relative;
  z-index: 1;

  p {
    color: white;
    font-size: 14px;
    letter-spacing: 0.05em;
  }
}

.site-header {
  .container {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: auto;
    width: 215px;
    &__inner {
      width: 100%;
      padding-bottom: 19.5%;
      position: relative;
      &:not(:hover) {
        color: white;
      }
    }
    img,
    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      path {
        fill: currentColor;
      }
    }
  }  
}

.main-nav {
  padding: 35px 0;
  display: flex;
  align-items: center;
  position: relative;

  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    background-color: $brand_black;
    height: 0;
    width: 0;
    opacity: 0;
    transition: all 0s 0.3s linear, opacity 0.3s ease-in-out;
  }

  &.active {
    &:before {
      height: 100vh;
      width: 100vw;
      opacity: 0.9;
      transition: all 0s linear, opacity 0.3s ease-in-out;
    }

    .main-nav__top > li:not(:hover) > a {
      color: $brand_black;
    }
  }

  &__top {
    display: flex;
    justify-content: flex-end;
    font-family: $font_haas_text;
    letter-spacing: 0.045em;
    font-size: 12px;

    a {
      padding: 10px;
      display: inline-block;
    }

    ~ * {
      position: relative;
      z-index: 2;
    }

    > li {
      position: static;
      border: none;

      > a {
        padding: 10px;
        display: block;
        text-decoration: none;
        position: relative;
        z-index: 2;
        white-space: nowrap;

        &:after {
          content: '';
          background-color: $brand_red;
          width: 16px;
          height: 2px;
          left: 10px;
          bottom: 2px;
          position: absolute;
          opacity: 0;
        }
      }

      &.active,
      &:hover:not(.header-search) {
        > .main-nav__sub {
          transform: scaleY(1) translateY(0);
          opacity: 1;
        }
        > a:after {
          opacity: 1;
          transition: inherit;
        }
      }

      &:not(:hover) {
        > a {
          color: white;
        }
      }
    }
  }

  &__sub {
    transform: scaleY(0) translateY(-10px);
    transform-origin: 0 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: absolute;
    width: calc(100% + 160px);
    right: -80px;
    top: 0;
    background-color: white;
    padding: 100px 80px 80px;

    > ul li {
      padding: 0 0 0 10px;

      a {
        color: $brand_black;
        padding-left: 26px;
        position: relative;

        &:after {
          content: '';
          background-color: currentColor;
          width: 13px;
          height: 9px;
          left: 0;
          top: 11px;
          position: absolute;
        }

        &:hover {
          color: $brand_red;
          text-decoration: none;
        }
      }
    }
  }
}

.header-search {
  margin-left: 10vw;

  .main-nav__sub {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
  }

  &__input {
    width: 100%;
    border: none;
    font-size: 40px;
    outline: none;
    font-family: $font_haas_display;
    height: 40px;
    padding: 0;
    margin-left: 10px;
    &::placeholder {
      color: #ABABAB;
    }
  }

  &__results {
    padding-left: 10px;
    overflow: auto;

    ul:not(:empty) {
      margin-top: 70px;
    }
  }

  @media screen and (min-width: 1440px) {
    margin-left: 140px;
  }
}