*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
  font-family: $font_haas_display;
	// -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-width: 300px;
	background: #f1f1f2;
	position: relative;
}

section {
	padding: 60px 0;
	position: relative;

	.lined-section {
		border-top: 1px solid $brand_black_40;
		padding-top: 30px;
	}

	&.dark,
	&.darker {
		background: $brand_black;
		padding: 120px 0;

		p, h1, h2, h3, h4, h5 {
			color: white;
		}

		h2 {

			&:before {
				background-image: url('/dist/images/icon-squares-white.svg');
			}
		}
	}

	&.darker {
		background: $brand_black_97;
	}
}
