button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  padding: 0;
}

.btn {
  padding: 12px 22px;
  background-color: $brand_red;
  border: 2px solid $brand_red;
  border-radius: 36px;
  font-weight: 700;
  display: inline-block;
  color: white;
  font-size: 18px;
  line-height: 1;

  &:hover {
    background-color: $brand_red;
    color: $brand_black;
    text-decoration: none;
  }

  &.white {
    color: $brand_black;
    background: white;
    border-color: white;

    &:hover {
      background: white;
      color: $brand_red;
    }
  }

  &.black {
    color: white;
    background: black;
    border-color: black;

    &:hover {
      background: white;
      color: $brand_red;
    }
  }
}
