// $icomoon-font-path: '../../fonts/icomoon/fonts';
// @import "../../fonts/icomoon/style.scss";

.svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
 * Look in Icomoon SVG style.css
Single-colored icons can be modified like so:
.svg--name {
  font-size: 32px;
  color: red;
}
========================================== */
