/* COLORS */
$color_white: #FFFFFF;
$color_green: #29AC26;
$brand_black: #232323;
$brand_black_97: #1E1E1E;
$brand_black_90: #414142;
$brand_black_80: #58595B;
$brand_black_40: #ABABAB;
$color_light_gray: #F3F3F4;
$brand_red: #FC0000;


/* FONT STACK */
$font_haas_text: 'neue-haas-grotesk-text', sans-serif;
$font_haas_display: 'neue-haas-grotesk-display', sans-serif;
$font_sans: 'Tungsten', sans-serif;
$font_cursive: 'Carlson-Script', cursive;
$font_body: $font_haas_display;

/* Grid */
$reflex-grid-spacing: 20px;
